<h2><i class="bi bi-journal-plus me-1"></i> Criação de uma nova receita</h2>
<form action="/receita/cria" method="post" class="mt-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 mb-2">
            <p class="mb-0"><label for="chave"><i class="bi bi-key me-1"></i> Chave</label></p>
            <p><input type="text" name="chave" size="30" class="form-control form-control-sm text-center" value="receita_{{receitas_qt}}" required></p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 mb-2">
            <p class="mb-0"><label for="titulo"><i class="bi bi-pen me-1"></i> Titulo</label></p>
            <p><input type="text" name="titulo" size="60" class="form-control form-control-sm" required></p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-2">
            <p class="mb-0"><label for="tempo"><i class="bi bi-alarm me-1"></i> Tempo</label></p>
            <p><input type="text" name="tempo" min="1" step="1" class="form-control form-control-sm text-center" placeholder="Em minutos" required></p>
        </div>
        <div class="col-12">
            <p class="mb-0"><label for="ingredientes"><i class="bi bi-egg-fried me-1"></i> Ingredientes</label></p>
            <p><textarea name="ingredientes" id="" rows="5" cols="57" class="form-control form-control-sm" required></textarea></p>
        </div>
        <div class="col-12">
            <p class="mb-0"><label for="preparo"><i class="bi bi-fire me-1"></i> Preparo</label></p>
            <p><textarea name="preparo" id="" rows="5" cols="57" class="form-control form-control-sm" required></textarea></p>
        </div>
        <div class="col-12">
            <p class="text-end">
                <a href="/" class="btn btn-sm btn-danger"><i class="bi bi-ban me-1"></i> Cancelar</a>
                <button type="submit" class="btn btn-sm btn-warning"><i class="bi bi-journal-plus me-1"></i> Criar Receita</button>
            </p>
        </div>
    </div>
</form>

<script>
  // This is an example script, please modify as needed
  const rangeInput = document.getElementById('nivel');
  const rangeOutput = document.getElementById('rangeValue');

  // Set initial value
  rangeOutput.textContent = rangeInput.value;

  rangeInput.addEventListener('input', function() {
    rangeOutput.textContent = this.value;
  });
</script>