<h2><i class="bi bi-info-square me-1"></i> Sobre o aplicativo</h2>
<div class="alert alert-secondary mt-4">
    <p><h4>Este é um aplicativo criado com o objetivo de gerenciar um livro de receitas.</h4></p>
    <p>Ele foi criado na disciplina de Desenvolvimento Web II do curso de Graduação em Sistemas de Informação.</p>
    <p>IF Sudeste MG - Campos Manhuaçu</p>
    <p>
        Desenvolvido
        <ul>
            <li><strong>Por:</strong> Henrique Casagrande Bravin</li>
            <li><strong>Em:</strong> 23/11/2025</li>
            <li><strong>Objetivo:</strong> Avaliação da Componente da Pós-Graduação</li>
        </ul>
    </p>
</div>
<div class="text-end">
    <a href="/" class="btn btn-sm btn-primary">Voltar</a>
</div>